@font-face {
  font-family: "GilroyExtraBold";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2");
  src: url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/gilroylight.woff2") format("woff2");
  src: url("../fonts/gilroylight.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff2") format("woff2");
  src: url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/opensanslight.woff2") format("woff2");
  src: url("../fonts/opensanslight.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;

  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
}

img {
  max-width: 100%;
  height: auto;
}

.body-container {
  width: 1160px;

  margin-left: auto;
  margin-right: auto;

  position: relative;
}

/*Header*/

.header ul {
  list-style: none;
}

.header a {
  text-decoration: none;
  color: #000000;
}

.header {
  width: 1160px;

  margin-top: 40px;

  background-color: #f7e296;
}

.header-logo {
  position: relative;

  top: -19px;
  left: 59px;
}

.header-button,
.header-button a {
  line-height: 30px;
}

.header-logo[href]:hover,
.header-button[href]:hover span {
  opacity: 0.5;
}

.header-logo[href]:active,
.header-button[href]:active {
  opacity: 0.2;
}

.header-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  line-height: 30px;

  padding-left: 30px;
}

.header-button {
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  letter-spacing: 0.3px;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding-left: 115px;
  margin-top: 3px;

  -webkit-box-flex: 1;

      -ms-flex-positive: 1;

          flex-grow: 1;
}

.header-login-link svg {
  margin-right: 5px;
}

.header-login-link span {
  margin-right: 15px;
}

.header-login-button:hover span {
  opacity: 0.5;
}

.header-login-link {
  position: relative;

  margin-left: 50px;
}

.header-login-link:before {
  content: "";

  position: absolute;
  left: -25px;
  top: 11px;

  width: 16px;
  height: 18px;

  background: url("../img/user.svg") no-repeat 0 0;

  z-index: 1;
}

.search-form {
  font-size: 0;

  position: relative;
}

.search-form::before {
  content: "";

  position: absolute;
  left: 32px;
  top: 13px;

  width: 16px;
  height: 18px;

  background: url("../img/search.svg") no-repeat 0 0;

  z-index: 1;
}

.search-form-input-container {
  position: relative;

  min-width: 450px;

  margin-top: -5px;
  margin-left: 27px;
  margin-right: -230px;
}

.search-form-input {
  height: 50px;
  width: 360px;

  padding: 0 0 0 40px;

  font-size: 15px;
  line-height: 50px;
  letter-spacing: 0.5px;
  vertical-align: top;

  background-color: #f7e296;

  border: none;
  border-bottom: 2px solid transparent;

  outline: 0;
}

.search-form-input:focus {
  border-bottom-color: #000000;
}

.search-input::placeholder {
  color: #000000;

  opacity: 0.3;
}

.search-form-input:hover::placeholder {
  opacity: 0.6;
}

.search-form-input:focus::placeholder {
  opacity: 1;
}

.search-form-button {
  display: none;

  height: 50px;

  padding: 0 20px;

  font-size: 15px;
  line-height: 1;
  vertical-align: middle;

  background-color: transparent;

  border: 2px solid #000000;
}

.search-form-button:active,
.search-form-button:hover,
.search-form-input:focus~.search-form-button {
  display: inline-block;

  vertical-align: middle;
}

.search-form-button:hover {
  color: #ffffff;
  background-color: #000000;
}

.search-form-button:active span {
  opacity: 0.3;
}

.compare-button {
  position: relative;

  margin-top: 3px;
  margin-right: 33px;
}

.compare-button::before {
  content: "";

  position: absolute;
  left: -20px;
  top: 10px;

  width: 16px;
  height: 18px;

  background: url("../img/compare.svg") no-repeat 0 0;
}

.basket-button {
  position: relative;

  margin-top: 3px;
  margin-right: 20px;
}

.basket-button::before {
  content: "";

  position: absolute;
  left: -22px;
  top: 8px;

  width: 16px;
  height: 18px;

  background: url("../img/cart.svg") no-repeat 0 0;
}

.services-navigation-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;

  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.7px;
  text-transform: uppercase;

  margin: 0;
  padding: 0;
  padding-top: 29px;
  padding-left: 59px;
  padding-right: 22px;
}

.goods-menu a[href]:hover,
.goods-menu:first-child:hover::before {
  opacity: 0.5;
}

.goods-menu a[href]:active,
.goods-menu:first-child:active::before {
  opacity: 0.2;
}

.goods-menu .goods-menu-items-container {
  font-family: "OpenSansLight", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.4px;
  text-transform: none;
}

.goods-menu:first-child {
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;

  margin-right: 290px;

  position: relative;
}

.goods-menu:first-child::before {
  content: "";

  position: absolute;
  left: 230px;
  top: 5px;

  width: 16px;
  height: 18px;

  background: url("../img/plus.svg") no-repeat 0 0;
}

.goods-menu:first-child::after {
  content: "";

  width: 1160px;
  height: 163px;

  top: 24px;
  left: -59px;

  position: absolute;
  
  background-color: #f7e296;

  display: none;
}

.goods-menu:first-child:hover .goods-menu-items-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.goods-menu:first-child:hover::after {
  display: block;
  z-index: 2;
}

.goods-menu {
  margin-right: 30px;
}

.goods-menu:nth-child(2) {
  -ms-flex-preferred-size: 120px;
      flex-basis: 120px;

  margin-right: 33px;
}

.goods-menu:nth-child(3) {
  -ms-flex-preferred-size: 110px;
      flex-basis: 110px;
  -webkit-box-flex: 1.9;
      -ms-flex-positive: 1.9;
          flex-grow: 1.9;
}

.goods-menu:nth-child(4) {
  -ms-flex-preferred-size: 120;
      flex-basis: 120;

  margin-right: 36px;
}

.goods-menu ul {
  margin: 0;
  padding: 0;
}

.goods-menu-items-container {
  display: none;

  position: absolute;

  width: 1100px;

  padding-top: 21px;
  margin-left: -60px;
  padding-left: 60px;

  z-index: 10;

  background-color: #f7e296;
}

.goods-menu ul:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  min-width: 200px;

  margin-right: 40px;
}

.goods-menu ul:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 130px;

  margin-right: 70px;
}

.goods-menu ul:nth-of-type(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*main*/

/*slider*/

.main-container,
.main-content {
  width: 1160px;

  margin-left: auto;
  margin-right: auto;

  display: block;

  position: relative;
}

.main-services-container {
  display: block;

  position: relative;
}

.main-services-container::before {
  content: "";

  position: absolute;
  top: 66px;

  width: 100%;
  height: 287px;

  background-color: #e5e5e5;

  z-index: -1;
}

.main-container:first-of-type:before {
  content: "";

  width: 1160px;
  height: 163px;

  position: absolute;
  
  background-color: #f7e296;

  z-index: -1;
}

.index-main-content ul {
  list-style: none;
}

.goods-slider {
  position: relative;

  margin-bottom: 113px;
}

.goods-slider::before {
  content: "";

  width: 100px;
  height: 7px;

  position: absolute;
  top: 89px;
  left: 600px;
  
  background-color: #ffffff;
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: none;

  padding-top: 50px;
}

.current-slide {
  display: flex;
}

.slider-header {
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.5px;

  width: 530px;
}

.slider-number {
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-size: 179px;
  line-height: 179px;
  color: white;

  position: absolute;
  top: 40px;
  right: 50px;
}

.slider-text {
  font-family: "OpenSansLight", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  letter-spacing: 0.4px;

  margin-top: 20px;

  width: 490px;
}

.second-slide-text {
  letter-spacing: 0.2px;
  width: 450px;
}

.third-slide-text {
  letter-spacing: 0.2px;
  width: 470px;
}

.slider-image-container {
  min-width: 500px;
  height: 500px;

  margin-top: 2px;
  margin-left: 90px;
}

.second-slide-image img {
  margin-left: 25px;
  margin-top: 12px;
}

.third-slide-image {
  margin-right: -1px;
}

.third-slide-image img {
  margin-top: 65px;
  margin-left: -60px;

  min-width: 526px;
  height: 334px;
}

.slider-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  margin-top: 81px;
  margin-left: 10px;

  z-index: 1;
}

.slider-text-container a {
  margin-top: 35px;
  margin-left: 43px;
}

.moreinfo-button {
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 3.6px;

  border: none;

  background-color: rgba(0, 0, 0, 0);

  position: relative;

  z-index: 1;
}

.slider-moreinfo-button {
  position: relative;

  width: 150px;
}

.slider-moreinfo-button::before {
  content: "";

  position: absolute;

  width: 220px;
  height: 8px;

  top: 8px;
  left: -43px;

  background-color: #f0c52e;
  
  z-index: -1;
}

.moreinfo-button:hover {
  cursor: pointer;
}

.moreinfo-button:hover::before {
  height: 40px;

  top: -8px;
}

.moreinfo-button:active {
  color: #be9c22;
}

.slider-table-header {
  font-family: "OpenSansLight", "Arial", sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: #464646;
  letter-spacing: 0.6px;
  text-align: left;

  width: 155px;

  margin-top: 7px;
}

.slider-table-info-text {
  font-family: "GilroyLight", "Arial", sans-serif;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.4px;
  text-align: left;

  width: 155px;

  margin-top: 1px;
}

.second-slide-table-info-text {
  width: 200px;

  margin-bottom: 1px;
}

.slider-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-top: 56px;
  margin-left: -3px;
}

.slider-table-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.slider-table-item:nth-of-type(1) {
  margin-left: 1px;
}

.slider-table-item:nth-of-type(2) {
  text-align: left;

  width: 140px;

  margin-top: 1px;
  margin-left: 5px;
}

.slider-move-container {
  position: absolute;

  top: 359px;
  right: 117px;

  z-index: 100;
}

.slider-move-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  align-items: center;

  width: 50px;
  height: 20px;
}

.slider-move-buttons li {
  margin-right: 21px;
  margin-top: 4px;
}

.slider-move-buttons button {
  background-color: rgba(0, 0, 0, 0);

  border: none;

  width: 13px;
  height: 15px;

  position: relative;
}

.slider-move-button::before {
  content: "";

  position: absolute;

  top: -1px;
  left: 3px;

  width: 13px;
  height: 13px;

  background: url(../img/slider-button-empty.svg) no-repeat 0 0;
  background-size: 12px;
}

.slider-move-button-current::before {
  content: "";

  position: absolute;

  top: -1px;
  left: 3px;

  width: 13px;
  height: 13px;

  background: url(../img/slider-button.svg) no-repeat 0 0;
  background-size: 12px;
}

.slider-move-buttons button:hover {
  cursor: pointer;
}

/*popular*/

.popular-item-container a {
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  letter-spacing: 0.2px;
}

.popular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin-top: 51px;
}

.popular-item-list {
  list-style: none;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;

  margin: 0;
  padding: 0;

  min-width: 1160px;
}

.popular-item-image {
  position: relative;
}

.popular-item-text-custom-width {
  width: 100px;
}

.popular-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin-top: 173px;
  margin-bottom: 50px;
  margin-right: 40px;

  -ms-flex-preferred-size: 160px;

      flex-basis: 160px;
}

.popular-item-container:nth-of-type(6n) {
  margin-right: 0;
}

.popular-item-container:nth-of-type(1) .popular-item-image::before {
  content: "";

  position: absolute;
  top: -193px;

  width: 160px;
  height: 160px;

  background: #f7e296 url("../img/popular-1.svg") no-repeat 50% 50%;
}

.popular-item-container:nth-of-type(2) .popular-item-image::before {
  content: "";

  position: absolute;
  top: -193px;

  width: 160px;
  height: 160px;

  background: #f7e296 url("../img/popular-2.svg") no-repeat 50% 95%;
}

.popular-item-container:nth-of-type(3) .popular-item-image::before {
  content: "";

  position: absolute;
  top: -193px;

  width: 160px;
  height: 160px;

  background: #f7e296 url("../img/popular-3.svg") no-repeat 50% 50%;
}

.popular-item-container:nth-of-type(4) .popular-item-image::before {
  content: "";

  position: absolute;
  top: -193px;

  width: 160px;
  height: 160px;

  background: #f7e296 url("../img/popular-4.svg") no-repeat 50% 50%;
}

.popular-item-container:nth-of-type(5) .popular-item-image::before {
  content: "";

  position: absolute;
  top: -193px;

  width: 160px;
  height: 160px;

  background: #f7e296 url("../img/popular-5.svg") no-repeat 50% 50%;
}

.popular-item-container:nth-of-type(6) .popular-item-image::before {
  content: "";

  position: absolute;
  top: -193px;

  width: 160px;
  height: 160px;

  background: #f7e296 url("../img/popular-6.svg") no-repeat 50% 50%;
}

.popular-item-container .popular-item-image:hover::before {
  background-color: #f0c52e;
}

.popular-item-container:active {
  opacity: 0.3;
}

.popular-item-container div:first-of-type {
  margin-bottom: 25px;
}

/*Services slider*/

.services-slider-buttons a {
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  text-decoration: none;
  color: #000000;

  border: none;
  outline: none;

  background-color: rgba(0, 0, 0, 0);

  position: relative;

  margin-top: 4px;
}

.services-slider-buttons a::before {
  content: "";

  position: absolute;

  width: 160px;
  height: 8px;

  top: 8px;

  background-color: #f0c52e;
  
  z-index: -1;
}

.services-slider-buttons .services-slider-button-delivery::before {
  left: -19px;
}

.services-slider-buttons .services-slider-button-warranty::before {
  left: -24px;
}

.services-slider-buttons .services-slider-button-credit::before {
  left: -37px;
}

.services-slider-buttons a:hover::before {
  height: 40px;

  top: -8px;
}

.services-slider-buttons a:active {
  color: #f7e184;
}

.services-slider-buttons .current-services-slider-button {
  color: #f7e184;
}

.services-slider-buttons a:active::before,
.services-slider-buttons .current-services-slider-button::before {
  width: 280px;
  height: 40px;

  top: -8px;

  background-color: #000000;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 1160px;

  margin-top: 65px;
  margin-bottom: 150px;
  margin-left: auto;
  margin-right: auto;

  position: relative;
}

.services::before {
  content: "";

  position: absolute;
  top: -34px;
  left: 277px;

  width: 7px;
  height: 320px;

  background-color: #000000;
}

.services::after {
  content: "";

  position: absolute;
  top: 51px;
  right: 62px;

  width: 140px;
  height: 170px;

  background: url("../img/delivery.svg") no-repeat 0 0;
}

.services-slider-buttons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  margin: 0;
  padding: 0;

  width: 160px;
}

.services-slider-buttons li {
  margin-top: 53px;
  margin-left: 3px;
  text-align: center;
}

.services-slider-buttons li:nth-of-type(2) {
  margin-top: 40px;
  text-align: center;
}

.services-slider-buttons li:nth-of-type(3) {
  margin-top: 40px;
  text-align: center;
}

.services-slider-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  margin-top: -2px;
}

.current-services-slide-text {
  display: flex;
}

.services-slider-text h2 {
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 1px;

  margin-left: 240px;
}

.services-slider-text p {
  font-family: "OpenSansLight", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  letter-spacing: 0.5px;

  margin-left: 240px;
  margin-right: 320px;
  margin-top: -6px;

  width: 440px;
}

/*Logotypes*/

.logotypes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  
  margin-top: 223px;

  margin-bottom: 102px;
}

.logotypes-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

.logotypes-list li {
  position: relative;
}

.logotypes-list li:first-of-type::before {
  content: "";

  display: none;

  position: absolute;

  width: 260px;
  height: 100px;

  top: 0;
  left: 0;

  background: url("../img/logo-1-colored.png") no-repeat 0 0;
}

.logotypes-list li:nth-of-type(2)::before {
  content: "";

  display: none;

  position: absolute;

  width: 260px;
  height: 100px;

  top: 0;
  left: 0;

  background: url("../img/logo-2-colored.png") no-repeat 0 0;
}

.logotypes-list li:nth-of-type(3)::before {
  content: "";

  display: none;

  position: absolute;

  width: 260px;
  height: 100px;

  top: 0;
  left: 0;

  background: url("../img/logo-3-colored.png") no-repeat 0 0;
}

.logotypes-list li:nth-of-type(4)::before {
  content: "";

  display: none;

  position: absolute;

  width: 260px;
  height: 100px;

  top: 0;
  left: 0;

  background: url("../img/logo-4-colored.png") no-repeat 0 0;
}

.logotypes-list li:hover::before {
  display: block;
}

.logotypes-list li {
  margin-right: 40px;
}

.logotypes-list li:nth-child(4n) {
  margin-right: 0px;
}

/*About us*/

.about-us-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-top: 105px;
  margin-bottom: 91px;
}

.about-us-container h2 {
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.6px;
  margin-left: -1px;
}

.about-us-container p {
  font-family: "OpenSansLight", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  letter-spacing: 0.2px;
}

.about-us-list {
  margin: 0;
  padding: 0;
  margin-top: 64px;
  margin-left: 16px;
}

.about-us-list li {
  padding-left: 19px;

  position: relative;
}

.about-us-list li::before {
  content: "";

  position: absolute;

  top: 17px;
  left: -16px;

  width: 4px;
  height: 4px;

  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.about-us-list {
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
}

.about-us,
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  position: relative;
}

.about-us {
  margin-right: 137px;
}

.about-us::before {
  content: "";

  width: 80px;
  height: 7px;

  position: absolute;
  top: -13px;

  background-color: #000000;
}

.contacts::before {
  content: "";

  width: 80px;
  height: 7px;

  position: absolute;
  top: -13px;
  left: 4px;

  background-color: #000000;
}

.about-us p,
.contacts p {
  margin: 0;
  padding: 0;

  margin-top: 5px;
}

.contacts p {
  margin-left: 1px;
  margin-bottom: 38px;

  width: 550px;
}

.about-us p:first-of-type {
  width: 460px;
  margin-bottom: 25px;
}

.about-us p:nth-of-type(2) {
  width: 460px;
}

.contacts .map-container {
  margin-left: 3px;
}

.about-us-button {
  margin-top: 62px;
  margin-left: 23px;

  width: 230px;

  position: relative;
}

.about-us-button::before {
  content: "";

  position: absolute;

  width: 260px;
  height: 8px;

  top: 8px;
  left: -23px;

  background-color: #f0c52e;
  
  z-index: -1;
}

.contacts-button {
  margin-top: 72px;
  margin-left: 43px;

  width: 210px;
}

.contacts-button::before {
  content: "";

  position: absolute;

  width: 260px;
  height: 8px;

  top: 8px;
  left: -40px;

  background-color: #f0c52e;
  
  z-index: -1;
}

/*Footer*/

.footer-container {
  width: 100%;

  background-color: #464646;
}

.footer {
  width: 1160px;

  margin-left: auto;
  margin-right: auto;

  padding-bottom: 50px;

  display: block;

  position: relative;

  background-color: #464646;
}

.footer ul {
  list-style: none;
}

.footer-button a,
.footer-button {
  text-decoration: none;
  font-family: "OpenSansLight", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  color: #ffffff;
  letter-spacing: 0.6px;
}

.footer-logo[href]:hover,
.footer-button:hover {
  opacity: 0.5;
}

.footer-logo[href]:active,
.footer-button:active {
  opacity: 0.2;
}

.footer-navigation {
  padding-top: 45px;

  position: relative;
}

.footer-logo {
  position: absolute;

  top: 65px;

  fill: #ffc600;
}

.footer::before {
  content: "";

  position: absolute;
  left: 0px;
  bottom: 81px;

  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.footer-navigation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;

      -ms-flex-align: center;

          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;

  margin-right: -20px;
}

.footer-user-navigation {
  display: flex;
  align-items: center;

  margin-right: 60px;
}

.footer-login-link,
.footer-navigation-container a {
  margin: 0;
  padding: 0;
}

.footer-login-link {
  margin-right: 7px;

  position: relative;
}

.footer-login-link:before {
  content: "";

  position: absolute;

  left: -25px;
  top: 12px;

  width: 16px;
  height: 18px;

  background: url("../img/user-footer.svg") no-repeat 0 0;

  z-index: 1;
}

.footer-login-link span {
  margin-right: 5px;
}

.footer-compare-button {
  width: 131px;

  position: relative;
}

.footer-compare-button::before {
  content: "";

  position: absolute;

  left: -20px;
  top: 14px;

  width: 16px;
  height: 18px;

  background: url("../img/compare-footer.svg") no-repeat 0 0;

  z-index: 1;
}

.footer-basket-button {
  width: 82px;

  letter-spacing: 0.1px;

  position: relative;
}

.footer-basket-button::before {
  content: "";

  position: absolute;

  left: -22px;
  top: 12px;

  width: 16px;
  height: 18px;

  background: url("../img/cart-footer.svg") no-repeat 0 0;

  z-index: 1;
}

.services-navigation-footer a {
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 3.6px;
}

.services-navigation-footer a:hover {
  opacity: 0.5;
}

.services-navigation-footer a:active {
  opacity: 0.2;
}

.footer-contacts-and-services-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-contacts-and-services-container p {
  font-family: "OpenSansLight", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
  letter-spacing: 0.2px;

  margin-top: 19px;
}

.footer-contacts-and-services-container p:first-of-type {
  margin-right: 103px;
}

.services-navigation-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  margin-top: 25px;

  -webkit-box-flex: 1;

      -ms-flex-positive: 1;

          flex-grow: 1;
}

.services-navigation-footer li {
  margin-right: 33px;
}

.services-navigation-footer li:nth-of-type(1) {
  margin-left: -3px;
}

.services-navigation-footer li:nth-of-type(3) {
  margin-right: 177px;
  margin-left: -1px;
}

.footer-social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;

  margin-top: 34px;

  width: 1160px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  margin-right: auto;
  margin-left: auto;

  width: 1160px;
}

.footer-social li {
  margin-right: 22px;

  opacity: 0.3;
}

.footer-social li:hover {
  opacity: 1;
}

.footer-social li:active {
  opacity: 0.1;
}

.academy-logo {
  bottom: 0px;
  right: 140px;
}

.academy-logo img:hover {
  opacity: 0.5;
}

.academy-logo img:active {
  opacity: 0.2;
}

.write-us-popup {
  display: none;

  position: absolute;

  width: 960px;
  height: 555px;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;

  box-shadow: 0 10px 25px 0px #d5d5d5;

  background-color: #ffffff;

  z-index: 999;
}

.write-us-popup-container {
  position: relative;
}

.write-us-popup-close {
  position: absolute;

  top: -80px;
  right: 20px;

  width: 55px;
  height: 55px;

  font-size: 0px;

  background-color: transparent;
  background: url("../img/modal-close.svg") no-repeat 0 0;

  border: 0;

  opacity: 0.5;

  cursor: pointer;
}

.write-us-popup-close:hover {
  opacity: 1;
}

.write-us-popup-close:active {
  opacity: 0.3;
}

.write-us-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  width: 765px;
  height: 380px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.write-us-input-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.write-us-input-container div:first-of-type {
  margin-right: 39px;
}

.write-us-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-bottom: 40px;
}

.write-us-form input,
.write-us-form textarea {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.write-us-input-container input {
  min-height: 50px;
  width: 360px;
}

.write-us-input-container input:hover {
  background-color: #eaeaea;
}

.write-us-input-container input:focus {
  background-color: #ffffff;
  outline: 3px solid #f0c52e;
}

.write-us-input-container input:invalid {
  background-color: #f6dada;
}

.write-us-form textarea {
  width: 760px;
  height: 145px;

  margin-bottom: 50px;

  background-color: #f2f2f2;

  border: none;

  resize: none;

  text-indent: 20px;
  padding-top: 15px;
}

.write-us-form textarea:hover {
  background-color: #eaeaea;
}

.write-us-form textarea:focus {
  background-color: #ffffff;
  outline: 3px solid #f0c52e;
}

.write-us-form textarea::-webkit-textarea-placeholder,
.write-us-form input::-webkit-input-placeholder {
  opacity: 0.3;
}

.write-us-form textarea::-moz-placeholder,
.write-us-form input::-moz-placeholder {
  opacity: 0.3;
}

.write-us-form textarea:-ms-textarea-placeholder,
.write-us-form input:-ms-input-placeholder {
  opacity: 0.3;
}

.write-us-form button {
  width: 130px;

  margin-left: 30px;
}

.write-us-form-button::before {
  content: "";

  position: absolute;

  width: 200px;
  height: 8px;

  top: 8px;
  left: -30px;

  background-color: #f0c52e;

  z-index: -1;
}

.write-us-form label {
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;

  margin-bottom: 5px;
}

.write-us-input-container input {
  width: 360px;
  height: 50px;

  background-color: #f2f2f2;

  border: none;
}

.write-us-input-container input {
  text-indent: 20px;
}

/*!!!!!!!!!!!!!!!! CONTENT PAGE !!!!!!!!!!!!!!!!!!!!*/

/*Header*/

.catalog-header {
  margin-left: 152px;
}

.catalog-header span {
  letter-spacing: 0.5px;
}

.catalog-header:hover span:last-of-type {
  opacity: 0.5;
}

.catalog-header:active span:last-of-type {
  opacity: 0.2;
}

/*Main. Site navigation*/

.site-navigation h1 {
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.5px;

  padding-left: 60px;
}

.site-navigation ul {
  display: flex;

  margin-top: -11px;
  margin-left: 4px;

  list-style: none;
}

.site-navigation li {
  margin-right: 13px;

  position: relative;
}

.site-navigation li:not(:last-of-type)::before {
  content: "";

  position: absolute;

  top: 10px;
  right: -12px;

  width: 5px;
  height: 10px;

  background: url("../img/nav-arrow.svg") no-repeat 0 0;
}

.site-navigation a {
  font-family: "OpenSansLight", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  opacity: 0.3;

  padding-right: 11px;
  padding-left: 15px;
}

.site-navigation a[href]:hover {
  opacity: 1;
}

.site-navigation a[href]:active {
  opacity: 0.1;
}

.catalog-main-content {
  margin-top: 83px;
  padding-bottom: 29px;

  display: block;

  position: relative;
}

.site-navigation::before {
  content: "";

  width: 1160px;
  height: 52px;

  top: -85px;

  position: absolute;
  
  background-color: #f7e296;

  z-index: -1;
}

/*Filter*/

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  margin-top: -10px;
  margin-bottom: -29px;
  padding-left: 59px;
  padding-top: 10px;
  padding-right: 70px;

  min-width: 200px;

  background-color: #eeeeee;

  position: relative;
}

.filter::after {
  content: "";

  position: absolute;

  top: 0;
  right: 0;

  width: 100vw;
  height: 100%;

  background-image: linear-gradient(#dbdbdb 70px,#efefef 70px);

  z-index: -1;
}

.filter::before {
  content: "";

  width: 468px;
  height: 70px;

  top: 0px;
  left: -139px;

  position: absolute;

  background-color: #dcdcdc;

  z-index: 1;
}

.catalog-main-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-top: 55px;

  position: relative;
}

.catalog-main-content-container::before {
  content: "";

  width: 200px;
  height: 2px;

  top: 130px;
  left: 60px;

  position: absolute;
  
  background-color: #000000;

  z-index: 1;
}

.catalog-main-content-inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.filter h2,
.sort h2 {
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.8px;
  text-transform: uppercase;

  z-index: 1;
}

.filter h3 {
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.filter-cost-form label {
  font-family: "OpenSansLight", "Arial", sans-serif;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.3px;
}

.filter-cost-form .cost-form-range-button {
  min-width: 22px;
  min-height: 22px;
  width: 22px;

  background: url("../img/filter-button.svg") no-repeat 0 0;

  border: none;
}

.cost-form-buttons-container button:hover {
  -webkit-transform: scale(1.07);
      -ms-transform: scale(1.07);
          transform: scale(1.07);

  cursor: pointer;
}

.filter-cost-form input[type="number"] {
  border: none;

  background-color: transparent;

  -moz-appearance: textfield;

  opacity: 0.15;

  width: 60px;
  height: 15px;
}

.filter-cost-form input[type="number"]::-webkit-outer-spin-button,
.filter-cost-form input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.cost-form-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding-top: 8px;

  height: 50px;
  margin-right: -52px;

  position: relative;

  z-index: 1;
}

.cost-form-buttons-container label {
  opacity: 0.15;
}

.cost-form-buttons-container > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cost-form-buttons-container > div:last-of-type {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cost-button div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cost-form-right-button-container div {
  text-indent: 20px;
}

.cost-button label {
  margin-right: 3px;
  margin-top: -10px;
}

.cost-form-left-button-container {
  position: relative;

  z-index: 1;
}

.cost-form-right-button-container {
  z-index: 1;

  margin-left: -10px;
}

.cost-form-left-button-container::after {
  content: "";

  width: 110px;
  height: 2px;

  top: 9px;
  left: 0px;

  position: absolute;
  
  background-color: #91c92f;

  z-index: -1;
}

.cost-form-buttons-container::after {
  content: "";

  width: 200px;
  height: 2px;

  top: 17px;
  left: 0px;

  position: absolute;

  background-color: #dbdbdb;
}

.filter-cost-form {
  margin-top: 73px;
}

.filter-cost-form > div:first-of-type::before {
  content: "";

  width: 200px;
  height: 2px;

  top: 280px;
  left: 60px;

  position: absolute;

  background-color: #000000;
}

.filter-cost-form div:first-of-type {
  margin-bottom: 41px;
}

.filter .filter-color-check-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  margin: 0;
  padding: 0;
  margin-left: 21px;

  list-style: none;
}

.filter-check-color {
  display: none;
}

.filter-color-check-container label {
  position: relative;

  padding-left: 18px;
}

.filter-color-check-container label::before {
  content: "";

  position: absolute;

  width: 30px;
  height: 30px;

  top: -4px;
  left: -22px;

  background: url("../img/checkbox-off.svg") no-repeat 0 0;
}

.filter-color-check-container label::after {
  content: none;

  position: absolute;

  width: 30px;
  height: 30px;

  top: -4px;
  left: -22px;

  background: url("../img/checkbox-on.svg") no-repeat 0 0;
}

.filter-color-check-container li:hover {
  opacity: 0.5;
}

.filter-color-check-container li:active {
  opacity: 1;
}

.filter-check-color:disabled + label {
  opacity: 0.15;
}

.filter-check-color:checked + label::after {
  content: "";

  z-index: 1;
}

.filter-cost-form div:nth-of-type(2) {
  margin-bottom: 43px;
}

.filter-cost-form div:nth-of-type(3)::before {
  content: "";

  width: 200px;
  height: 2px;

  top: 565px;
  left: 60px;

  position: absolute;
  
  background-color: #000000;
}

.filter-bluetooth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  margin: 0;
  padding: 0;
  margin-left: 21px;

  list-style: none;
}

.filter-bluetooth input[type="radio"] {
  display: none;
}

.filter-bluetooth label {
  position: relative;
  padding-left: 18px;
}

.filter-bluetooth label::before {
  content: "";

  position: absolute;

  width: 30px;
  height: 30px;

  top: -5px;
  left: -22px;

  background: url("../img/radio-off.svg") no-repeat 0 0;
}

.filter-bluetooth label::after {
  content: none;

  position: absolute;

  width: 30px;
  height: 30px;

  top: -5px;
  left: -22px;

  background: url("../img/radio-on.svg") no-repeat 0 0;
}

.filter-check-bluetooth:checked + label::after {
  content: "";

  z-index: 1;
}

.filter-bluetooth li:hover {
  opacity: 0.5;
}

.filter-bluetooth li:active {
  opacity: 1;
}

.filter-check-bluetooth:disabled + label {
  opacity: 0.15;
}

.filter-cost-form div:last-of-type {
  margin-bottom: 39px;
}

.filter-apply-button {
  margin-left: 32px;
  margin-bottom: 50px;
}

.filter-apply-button::before {
  content: "";

  position: absolute;

  width: 200px;
  height: 8px;

  top: 8px;
  left: -33px;

  background-color: #f0c52e;
  
  z-index: -1;
}

.filter-apply-button:hover::before {
  height: 40px;

  top: -8px;
}

/*Sort*/

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  min-height: 70px;

  margin-top: -10px;

  padding-left: 22px; 

  text-decoration: none;
  background-color: #eeeeee;

  position: relative;
}

.catalog-body-container {
  position: relative;
}

.index-body-container {
  position: relative;
}

.catalog-body-container::after {
  content: "";

  position: absolute;

  top: 145px;
  right: 0px;

  width: 100%;
  height: 70px;

  background-color: #efefef;

  z-index: -2;
}

.sort h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;

  margin-right: 10px;
}

.sort-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-left: 48px;
}

.filter-sort_by-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;

  list-style: none;

  margin-right: 160px;
}

.filter-sort_by-container a {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  letter-spacing: 0.2px;
  color: #000000;
  opacity: 0.3;
  white-space: nowrap;

  margin-right: 28px;

  -ms-flex-item-align: center;

      -ms-grid-row-align: center;

      align-self: center;
}

.sort-buttons-container a:hover {
  opacity: 0.5;
}

.sort-buttons-container a:active {
  opacity: 1;
}

.filter-sort-ascdesc-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;

  list-style: none;
}

.filter-sort-ascdesc-container a {
  margin-right: 30px;

  opacity: 0.3;

  -ms-flex-item-align: center;

      -ms-grid-row-align: center;

      align-self: center;
}

.filter-sort-asc-button,
.filter-sort-desc-button {
  position: relative;
}

.filter-sort-asc-button::before {
  content: "";

  position: absolute;

  top: 5px;
  left: 0px;

  width: 11px;
  height: 11px;

  background: url("../img/icon-up-dir.svg") no-repeat 0 0;
}

.filter-sort-desc-button::before {
  content: "";

  position: absolute;

  top: 5px;
  left: 0px;

  width: 11px;
  height: 11px;

  background: url("../img/icon-down-dir.svg") no-repeat 0 0;
}

.sort-buttons-container .filter-sort-button-active {
  opacity: 1;
}

/*Content*/

.catalog-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin-left: 71px;
  margin-top: 69px;

  max-width: 820px;
}

.product-description-table-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  width: 350px;
}

.product-description-table-header {
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.25px;
  text-align: left;

  max-width: 260px;

  margin-left: -1px;
}

.product-description-table-header-custom-width {
  width: 180px;
}

.product-description-table-info-text {
  font-family: "GilroyLight", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
  letter-spacing: 0.8px;
  text-align: right;

  margin-right: -13px;
}

.product-description {
  margin-top: 32px;
}

.product-description a {
  text-decoration: none;
  color: #000000;
}

.product-description a:hover {
  opacity: 0.5;
}

.product-description a:active {
  opacity: 0.2;
}

.product-image-container {
  width: 360px;
  height: 380px;

  background-color: #eeeeee;

  position: relative;
}

.product-card .product-card-buttons-container {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  position: absolute;

  top: 38%;
  left: 21%;

  width: 210px;
}

.product-card-buttons-container a {
  text-decoration: none;
  color: #000000;
  text-align: center;
}

.to-basket-button {
  margin-bottom: 15px;
}

.to-compare-button {
  border: none;

  background: none;

  font-family: "OpenSansLight", "Arial", sans-serif;
  font-size: 13px;
  line-height: 36px;

  opacity: 0.3;
}

.to-compare-button:hover {
  opacity: 1;
}

.to-compare-button:active {
  opacity: 0.1;
}

.to-basket-button::before {
  content: "";

  position: absolute;

  width: 200px;
  height: 8px;

  top: 8px;
  left: 5px;

  background-color: #f0c52e;
  
  z-index: -1;
}

.to-basket-button:hover::before {
  height: 40px;

  top: -8px;
}

.product-card-image-container:hover .product-image-container {
  opacity: 0.5;
}

.product-card-image-container:hover .product-card-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-card-label-new {
  position: absolute;

  top: 30px;
  right: 25px;

  border: 3px solid #000000;
  border-radius: 50%;

  padding: 15px 13px 15px 13px;

  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.5px;

  opacity: 0.15;
}

.product-card {
  margin-right: 40px;
  margin-bottom: 46px;

  position: relative;
}

.product-card:nth-of-type(2n) {
  margin-right: 0;
}

/*Pagination*/

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  margin-left: 70px;

  width: 760px;

  padding-bottom: 10px;
  margin-top: -10px;
  margin-bottom: 47px;

  background-color: #ebebeb;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  
  padding-top: 3px;
  margin-top: 25px;

  list-style: none;
}

.pagination-list li {
  margin-right: 32px;
}

.pagination-list a {
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-weight: bold;
  opacity: 0.3;
  text-decoration: none;
  color: #000000;
}

.pagination-button-back {
  padding-left: 9px;
  margin-top: 5px;
}

.pagination-button-next {
  padding-right: 9px;
  margin-top: 5px;
}

.pagination-list a[href]:hover {
  opacity: 0.5;
}

.pagination-list a[href]:active {
  opacity: 1;
}

.pagination-button {
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 3.6px;

  position: relative;

  z-index: 1;
}

.pagination-button[href]::before {
  content: "";

  display: none;

  position: absolute;

  width: 130px;
  height: 70px;

  top: -19px;
  left: -21px;

  background-color: #d9d9d9;

  z-index: -1;
}

.pagination-button-next.pagination-button[href]::before {
  left: -25px;
}

.pagination-button[href]:hover::before {
  display: block;
}

.pagination-button[href]:active span {
  opacity: 0.3;
}

.pagination-button:last-child::before {
  width: 132px;
}

.pagination-button:hover::before {
  background-color: #d9d9d9;
}

.pagination-button:first-of-type {
  padding-top: 5px;
  margin-left: 22px;
}

.pagination-button:last-of-type {
  padding-top: 5px;
  margin-right: 17px;
}

.pagination-list .pagination-current-page {
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-weight: bold;
  opacity: 1;
}

a:not([href]) {
  cursor: default;
}